extends layout

block append head
  link(rel='stylesheet', href='/stylesheets/reviews.css')

block content
  .reviews-section
    h2.reviews-title Customer Reviews
    if reviews && reviews.length
      .reviews-container
        each review, index in reviews
          .review-card(style=`--animation-order: ${index}`)
            .review-content
              if review.product
                h3.product-name= review.product.name
              if review.user
                p.user-name Posted by #{review.user.name}
              p.rating Rating: #{review.rating} / 5
              p.comment "#{review.comment}"
              p.date Posted on #{new Date(review.createdAt).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })}
    else
      .no-reviews
        p No reviews available yet! 