extends layout 
block content 
    h1 petsitters accross Pakistan 
    a.btn.btn-info(href="/sitter-application") Apply for PetSitter
    h1 Approved PetSitters

    if petsitters.length
      table.table.table-striped
        thead
          tr
            th Name
            th Email
            th Phone
            th Experience (Years)
            th Pets Experince
            if user && user.role === "admin"
                th Action

        tbody
          each sitter in petsitters
            tr
              td= sitter.name
              td= sitter.email
              td= sitter.phone
              td= sitter.experience
              td= sitter.pets.join(", ")
              if user && user.role === "admin"
                form(action=`/admin/delete-petsitter/${sitter._id}`, method="POST")
                    button.btn.btn-danger(type="submit")
                        i(class="fas fa-trash") Delete

    else
      p No approved sitters available.
    