extends ../layout

block content
    .row 
        .col-sm-6
            h1= title
        if user
            .col-sm-3
                a(href="/products/add", class="btn btn-success float-right") Add New Product 
    .row
        each product in products
            .col-sm-4.mb-3
                .card
                    .card-body
                        h5.card-title= product.name
                        p.card-text Type: #{product.type}
                        p.card-text Price: $#{product.price}
                        p.card-text Description: #{product.description}
                        // Display the product image if it exists
                        if product.image
                            img(src=product.image, alt=product.name, class="img-fluid mb-2")
                        if user
                            .btn-group
                                a(href="/products/delete/"+product._id, class="btn btn-danger") Delete
                                a(href="/products/edit/"+product._id, class="btn btn-warning") Edit
                        .btn-group        
                            a(href="/products/cart/"+product._id, class="btn btn-info") Add to Cart
