extends ../layout

block content
    link(rel='stylesheet', href='/stylesheets/petsdetails.css')

    .container.pet-details
        .content-box
            // Left Side - Pet Image
            .image-container
                if pet.image
                    img(src=pet.image, alt=pet.name, class="pet-img")
                else
                    img(src="/imgs/default-pet.jpg", alt="Default Pet Image", class="pet-img")

            // Right Side - Pet Details
            .details-container
                h1.pet-title= pet.name
                .pet-info
                    i.bi.bi-tag-fill
                    span Type: #{pet.type}
                .pet-info
                    i.bi.bi-paw-fill
                    span Breed: #{pet.breed}
                .pet-info
                    i.bi.bi-gender-ambiguous
                    span Gender: #{pet.gender}
                .pet-info
                    i.bi.bi-palette-fill
                    span Color: #{pet.color}
                .pet-info
                    i.bi.bi-currency-dollar
                    span Adoption Fee: Rs.#{pet.fee}
                .pet-info
                    i.bi.bi-info-circle-fill
                    span Description: #{pet.description}

                .action-buttons
                    if user && user._id.toString() === pet.uploadedBy.toString()
                        a.btn.btn-edit(href=`/pets/edit/${pet._id}`)
                            i.bi.bi-pencil-fill
                            span Edit
                        form(action=`/pets/delete/${pet._id}`, method="POST", style="display: inline;")
                            button(type="submit", class="btn btn-delete", onclick="return confirm('Are you sure you want to delete this pet?')")
                                i.bi.bi-trash-fill
                                span Delete
                    else
                        a.btn.btn-adopt(href="/pets/adoptionrequest/"+pet._id)
                            i.bi.bi-house-heart-fill
                            span Adopt This Pet
