extends ../layout

block content
  link(rel='stylesheet', href='/stylesheets/admin-sitter-application.css')
  .admin-sitter-container
    h1 PetSitter Applications

    if applications.length
      table.sitter-table
        thead
          tr
            th Name
            th Email
            th Phone
            th Address
            th Experience (Years)
            th Pets
            th Action

        tbody
          each application in applications
            tr
              td= application.name
              td= application.email
              td= application.phone
              td= application.address
              td= application.experience
              td= application.pets.join(", ")

              // Approve button
              td
                form(action=`/admin/add-petsitter/${application._id}` method="POST")
                  button.sitter-approve-btn(type="submit") Approve

    else
      p.no-applications No applications available.
