extends ../layout

block content
  link(rel='stylesheet' href='/stylesheets/orders.css')
  .admin-orders-container
    h2.admin-orders-title Orders

    if orders && orders.length > 0
      table.admin-orders-table
        thead
          tr
            th Order ID
            th Name
            th Email
            th Address
            th Contact
            th Items Ordered
        tbody
          each order in orders
            tr
              td #{order._id}
              td #{order.name}
              td #{order.email}
              td #{order.address}
              td #{order.contact}
              td
                ul
                  each item in order.items
                    li
                      img(src=item.image, alt=item.name, width="50")
                      | #{item.name} - $#{item.price} x #{item.quantity} = $#{item.subtotal}
    else
      p.admin-no-orders No orders to display.
