extends ../layout

block content
  h1 Edit Vet

  form(action=`/admin/vets/edit/${vet._id}` method="POST")
    label Vet Name:
    input(type="text" name="name" value=vet.name required)

    label Address:
    input(type="text" name="address" value=vet.address required)

    label Phone Number:
    input(type="text" name="contact" value=vet.contact required)

    label Opening Time:
    input(type="text" name="openingTime" value=vet.openingTime required)

    label Closing Time:
    input(type="text" name="closingTime" value=vet.closingTime required)

    button(type="submit") Update Vet