extends ../layout

block content
    link(rel='stylesheet' href='/stylesheets/petslist.css')

    .pets-container
        .pets-header
            h1.pets-title 
                i.bi.bi-heart-fill.me-2
                | Available Pets for Adoption
            if user && (user.role == "seller")
                .pet-management
                    a.btn-add-pet(href="/pets/petsadd") 
                        i.bi.bi-plus-circle.me-2
                        | Add New Pet

        .pets-grid
            each pet in pets
                .pet-card
                    .pet-image-container
                        if pet.image
                            img.pet-image(src=pet.image, alt=pet.name)
                        else
                            .pet-image-placeholder
                                i.bi.bi-image
                    .pet-info
                        h3.pet-name
                            a(href="/pets/"+pet._id)= pet.name
                        .pet-details
                            .pet-detail
                                i.bi.bi-tag-fill
                                span= pet.breed
                            .pet-detail
                                i.bi.bi-palette-fill
                                span= pet.color
                            .pet-detail
                                i.bi.bi-currency-dollar
                                span= pet.fee
                        .pet-actions
                            a.btn-adopt(href="/pets/adoptionrequest/"+pet._id)
                                i.bi.bi-heart-fill.me-2
                                | Adopt
                            if user && user._id && pet.uploadedBy && pet.uploadedBy._id && user._id.toString() === pet.uploadedBy._id.toString()
                                .pet-management-actions
                                    a.btn-edit(href="/pets/edit/"+pet._id)
                                        i.bi.bi-pencil-fill.me-2
                                        | Edit
                                    a.btn-delete(href="/pets/delete/"+pet._id)
                                        i.bi.bi-trash-fill.me-2
                                        | Delete
