extends layout

block content
  link(rel='stylesheet' href='/stylesheets/checkout.css')
  .checkout-container
    if error
      .alert.alert-danger(style="margin-bottom:1rem;text-align:center;font-weight:bold;font-size:1.1rem;") #{error}
    h1 Checkout

    .order-summary
      h2 Order ID: #{orderId}
      h3 Your Order Summary:
      if cart.length
        .cart-items
          each item in cart
            .cart-item
              img.cart-item-image(src=item.product.image, alt=item.product.name)
              .cart-item-details
                p.cart-item-info Quantity: #{item.quantity}
                p.cart-item-info Price Rs.#{item.product.price}
                p.cart-item-subtotal Subtotal Rs.#{item.product.price * item.quantity}
        - const shippingFee = 250
        .cart-total
          h3 Total Amount: Rs.#{total + shippingFee}
          p(style="font-size:0.95rem;color:#795548;margin-top:2px;") (Includes Rs.#{shippingFee} shipping fee)

        .checkout-form
          form(action="/products/checkout", method="post")
            .form-group
              label(for="email") Email
              input.form-control#email(type="text", name="email", required, placeholder="Enter your email", value=form && form.email ? form.email : "")
            .form-group
              label(for="name") Name
              input.form-control#name(type="text", name="name", required, placeholder="Enter your name", value=form && form.name ? form.name : "")
            .form-group
              label(for="address") Address
              textarea.form-control#address(name="address", required, placeholder="Enter your Address") #{form && form.address ? form.address : ""}
            .form-group
              label(for="contact") Contact
              input.form-control#contact(type="text", name="contact", required, placeholder="Enter your contact number", value=form && form.contact ? form.contact : "")
            .form-group
              label(for="payment") Payment Method
              select.form-control#payment(name="payment", required)
                option(value="cash") Cash on Delivery
            input(type="hidden", name="orderId", value=orderId)
            button.btn.btn-primary(type="submit") Complete Checkout
      else
        p Your cart is empty.
