extends ../layout

block content
  .container
    h1= pet.name
    .row
      .col-md-6
        if pet.image
          img(src=pet.image, alt="Pet Image", style="max-width: 100%; border-radius: 10px;")
      .col-md-6
        p 
          strong Type: 
          | #{pet.type}
        p 
          strong Breed: 
          | #{pet.breed}
        p 
          strong Gender: 
          | #{pet.gender}
        p 
          strong Color: 
          | #{pet.color}
        p 
          strong Fee: 
          | $#{pet.fee}
        p 
          strong Description: 
          | #{pet.description}
          
        if user && user._id.toString() === pet.uploadedBy.toString()
          a.btn.btn-warning(href=`/pets/petsedit/${pet._id}`) Edit
          form(action=`/pets/delete/${pet._id}`, method="POST", style="display: inline;")
            button(type="submit", class="btn btn-danger", onclick="return confirm('Are you sure?')") Delete
        else
          a.btn.btn-success(href=`/adopt/${pet._id}`) Adopt This Pet
