extends layout

block content
  h1 Vet Clinics Across Pakistan

  if user && user.role === "admin"
    h1 Clinic Management
    a.btn.btn-green(href="/admin/vets/new") Add New Vet

  each vet in vets
    .vet-card
      h2= vet.name
      p Address: #{vet.address}
      p Phone: #{vet.contact}
      p Opening Time: #{vet.openingTime}
      p Closing Time: #{vet.closingTime}

      if user && user.role === "admin"
        a.btn.btn-brown(href=`/admin/vets/edit/${vet._id}`) Edit
        a.btn.btn-red(href=`/admin/vets/delete/${vet._id}`) Delete