extends layout

block content
  h1 My Shopping Cart
  - var total = 0;
  table.table 
    thead 
      tr
        th Name 
        th Price 
        th Quantity
        th Subtotal 
        th Remove
    tbody 
      each item, index in cart 
        - var itemTotal = Number(item.price) * (item.quantity || 1);
        - total += itemTotal;
        tr 
          td= item.name 
          td= item.price 
          td 
            form(action="/products/cart/decrement/" + item._id, method="post", style="display:inline;")
              button.btn.btn-danger(type="submit") -
            span(id="quantity-" + index)= item.quantity || 1
            form(action="/products/cart/increment/" + item._id, method="post", style="display:inline;")
              button.btn.btn-success(type="submit") +
          td= itemTotal
          td 
            a.btn.btn-danger(href="/products/cart/remove/" + item._id) Delete
    tfoot 
      tr 
        td(colspan="3") Total 
        td= total
        td
          a.btn.btn-info(href="/checkout") CHECKOUT
