extends ../layout

block content
  link(rel='stylesheet' href='/stylesheets/selleradoptionrequests.css')
  .user-adoption-container
    h2.user-adoption-title Adoption Requests

    if adoptionrequests && adoptionrequests.length > 0
      table.user-adoption-table
        thead
          tr
            th Order ID
            th Name
            th Email
            th Address
            th Contact
            th Pet Name
            th Pet Image
        tbody
          each adoptionrequest in adoptionrequests
            tr
              td #{adoptionrequest._id}
              td #{adoptionrequest.name}
              td #{adoptionrequest.email}
              td #{adoptionrequest.address}
              td #{adoptionrequest.contact}
              td #{adoptionrequest.petName}
              td
                img.user-adoption-img(src=adoptionrequest.petImage, alt="Pet Image", width="100")
    else
      p.user-no-adoption-requests No adoption requests to display.
