extends layout 

block content 
  link(rel='stylesheet', href='/stylesheets/petsitters.css')

  h1.page-title PetSitters Across Pakistan
  
  .apply-container
    a.btn.btn-info(href="/sitter-application") Apply for PetSitter

  h1.section-title Approved PetSitters

  if petsitters.length
    .table-container
      table.sitter-table
        thead
          tr
            th Name
            th Email
            th Phone
            th Experience (Years)
            th Pets Experience
            if user && user.role === "admin"
                th Action

        tbody
          each sitter in petsitters
            tr
              td= sitter.name
              td= sitter.email
              td= sitter.phone
              td= sitter.experience
              td= sitter.pets.join(", ")
              if user && user.role === "admin"
                td
                  form(action=`/admin/delete-petsitter/${sitter._id}`, method="POST")
                    button.btn-delete(type="submit")
                      i(class="fas fa-trash") Delete

  else
    p.no-sitters No approved sitters available.
