extends ../layout

block content
    .row.transparent-container 
        .col-sm-6
            h1= title
        if user
            .col-sm-3
                a(href="/products/add", class="btn btn-success float-right") 
                    i(class="fas fa-plus") Add New Product 

    .row
        each product in products
            .col-sm-4.mb-3
                .card
                    .card-body.text-center
                        if product.image
                            img(src=product.image, alt=product.name, class="img-fluid mb-2", style="height: 200px; object-fit: cover;")
                        h4.card-title 
                            a(href="/products/"+product._id) #{product.name}
                        p.card-text Price: #{product.price}
                        p.card-text In Stock: 
                            if product.instock > 0
                                | #{product.instock}
                            else
                                span.text-danger Out of Stock
                        if user
                                .btn-group
                                    a(href="/products/delete/"+product._id, class="btn btn-danger") 
                                        i(class="fas fa-trash") Delete
                                    a(href="/products/edit/"+product._id, class="btn btn-warning") 
                                        i(class="fas fa-edit") Edit
                        .btn-group        
                            a(href="/products/cart/"+product._id, class="btn btn-info") 
                                i(class="fas fa-shopping-cart") Add to Cart
