extends ../layout

block content
    .container
        .row
            .col-md-6
                if pet.image
                    img(src=pet.image, alt=pet.name, class="img-fluid")
            .col-md-6
                h1= pet.name
                p Type: #{pet.type}
                p Price: $#{pet.fee}
                p Description: #{pet.description}
                
                if user
                    .btn-group
                        a(href="/pets/edit/"+product._id, class="btn btn-warning") Edit
                        a(href="/pets/delete/"+product._id, class="btn btn-danger") Delete
                .btn-group        
                            a(href="/pets/adoptionrequest/"+pet._id, class="btn btn-info") Adoption Request
