extends ../layout

block content
  link(rel='stylesheet' href='/stylesheets/buyerprofile.css') 

  .user-dashboard.container
    h1.user-title Buyer Profile

    .user-header
      .user-info
        .user-details
          p.user-name Name:  
            span #{user.name}
          p.user-email Email:  
            span #{user.email} 
          p.user-contact Contact:  
            span #{user.contact}
          a.user-nav-link(href='/logout') Logout  

      .user-image-container
        img.user-img(src=user.image ? user.image : '/images/default.png', alt="Profile Picture")
        a.btn.btn-brown(href="/buyerprofile/editbuyerprofile") Edit Profile

    // Orders Section
    if orders && orders.length > 0
      .orders-section
        h2 Order History
        each order in orders
          .order-card
            h3 Order ID:  
              span #{order.orderId}
            table.order-table
              thead
                tr
                  th Image
                  th Product Name
                  th Quantity
                  th Price
                  th Subtotal
              tbody
                each item in order.items
                  tr
                    td 
                      img.order-product-img(src=item.productImage, alt=item.productName)
                    td 
                      span #{item.productName}
                    td #{item.quantity}
                    td $#{item.price}
                    td $#{item.subtotal}
            p.order-total Total Amount:  
              span $#{order.totalAmount}
    else
      p.no-orders You have no orders yet.
