extends ../layout

block content
  link(rel='stylesheet' href='/stylesheets/admin.css') 
  .admin-dashboard
    .dashboard-container
      h1.admin-title Admin Dashboard

      //- .admin-header
        //- .user-info
        //-   .user-details
        //-     p.user-name Welcome back, #{user.name}
        //-     p.user-email #{user.email} 
        //-     p.user-contact #{user.contact} 
        //-     a.user-nav-link(href='/users/logout') Logout 
        //-   .user-image-container
        //-       img.user-img(src=user.image ? `imgs/${user.image}` : '/images/default.png', alt="Profile Picture")
        //-       a.btn.btn-edit(href="/admin/editadminprofile") Edit Profile
      
      .admin-content
        .admin-grid.animated-dashboard
          .admin-card
            .card-icon
              i.fas.fa-users
            h5.admin-card-title User Profiles
            p.admin-card-text Manage all registered users.
            a.btn.btn-primary(href="/admin/profiles") View Profiles

          .admin-card
            .card-icon
              i.fas.fa-paw
            h5.admin-card-title Adoption Requests
            p.admin-card-text Review and approve pet adoptions.
            a.btn.btn-primary(href="/admin/adoptionrequests") View Requests

          .admin-card
            .card-icon
              i.fas.fa-shopping-cart
            h5.admin-card-title Orders
            p.admin-card-text #{ordersCount} Orders Received
            a.btn.btn-primary(href="/admin/orders") View Orders
            
          .admin-card
            .card-icon
              i.fas.fa-user-tie
            h5.admin-card-title PetSitter Applications
            p.admin-card-text Review applications from potential pet sitters.
            a.btn.btn-primary(href="/admin/admin-sitter-application") View Applications
          
          .admin-card
            .card-icon
              i.fas.fa-store
            h5.admin-card-title Manage Stores
            p.admin-card-text Add, edit, or delete physical stores.
            a.btn.btn-primary(href="/stores") Manage Stores
          
          .admin-card
            .card-icon
              i.fas.fa-clinic-medical
            h5.admin-card-title Manage Clinics
            p.admin-card-text Add, edit, or delete vet clinics.
            a.btn.btn-primary(href="/clinics") Manage Clinics
            