extends ../layout

block content
  link(rel='stylesheet', href='/stylesheets/editvet.css')

  .form-container
    h1.page-title ✏️ Edit Vet

    form.vet-form(action=`/admin/vets/edit/${vet._id}` method="POST")
      .form-group
        label(for="name") Vet Name:
        input#name(type="text" name="name" value=vet.name required)

      .form-group
        label(for="address") Address:
        input#address(type="text" name="address" value=vet.address required)

      .form-group
        label(for="contact") Phone Number:
        input#contact(type="text" name="contact" value=vet.contact required)

      .form-group
        label(for="openingTime") Opening Time:
        input#openingTime(type="text" name="openingTime" value=vet.openingTime required)

      .form-group
        label(for="closingTime") Closing Time:
        input#closingTime(type="text" name="closingTime" value=vet.closingTime required)

      button.btn-submit(type="submit") ✅ Update Vet
