extends ../layout

block content
  link(rel='stylesheet' href='/stylesheets/profileDetail.css')

  .profile-container
    // User Information
    h2.section-title User Information
    .profile-info
      .profile-text-container
        p.profile-text 
          strong Name:  
          | #{user.name}
        p.profile-text 
          strong Email:  
          | #{user.email}
        p.profile-text 
          strong Contact:  
          | #{user.contact}
        p.profile-text
          strong Store Name:  
          | #{user.storeName}
          
        form(action=`/admin/profile/${user._id}/delete`, method="POST")
          button.btn.btn-danger(type="submit") Delete Profile
      img#profile-photo(src=user.image, alt="Profile Photo") 

    // Products Uploaded by User
    h2.section-title Products Uploaded
    .profile-grid
      each product in products
        .profile-card
          img.small-photo(src=product.image, alt="Product Image")
          p.profile-text #{product.name} - $#{product.price} 
          p.profile-text #{product.description}

    // Pets Uploaded by User
    h2.section-title Pets Uploaded
    .profile-grid
      each pet in pets
        .profile-card
          img.small-photo(src=pet.image, alt="Pet Image")
          p.profile-text #{pet.name} (#{pet.type}) 
          p.profile-text #{pet.description}

    // User's Adoption Requests (Detailed)
    h2.section-title Adoption Requests
    .profile-grid
      each adoption in adoptionRequests
        .profile-card
          h3.profile-text Adoption ID: #{adoption.adoptionRequestId}
          img.small-photo(src=adoption.petId.image, alt="Adopted Pet")
          p.profile-text Pet: #{adoption.petId.name} (#{adoption.petId.type})
          p.profile-text Requestor: #{adoption.name} (#{adoption.email})
          p.profile-text Contact: #{adoption.contact}
          p.profile-text Address: #{adoption.address}

    // Orders Received
    h2.section-title Orders Received
    .profile-grid
      each order in orders
        .profile-card
          h3.profile-text Order ID: #{order.orderId}
          if order.userId
            p.profile-text Customer: #{order.userId.name} (#{order.userId.email})
          else
            p.profile-text Customer: Unknown User
          p.profile-text Address: #{order.address}
          p.profile-text Total: $#{order.total}

          h4.profile-subtitle Items:
          .profile-items
            each item in order.items
              .profile-item
                img.small-photo(src=item.product.image, alt="Product Image")
                p.profile-text #{item.product.name} - #{item.quantity} x $#{item.price} = $#{item.subtotal}
