extends ../layout

block content
    link(rel='stylesheet' href='/stylesheets/store.css')

    .container
        .header-container
            h1.page-title ðŸª Products from #{storeName}

        if products.length === 0
            .empty-message No products available in this store at the moment.
        else
            .row.product-list
                each product in products
                    .col-md-4.col-sm-6.mb-4
                        .card.product-card
                            if product.image
                                img.card-img-top(src=product.image, alt=product.name)
                            .card-body.text-center
                                h4.card-title 
                                    a.product-link(href="/products/"+product._id)= product.name
                                p.card-text.price ðŸ’° Price: #{product.price}
                                p.card-text.stock ðŸ“¦ In Stock: 
                                    if product.instock > 0
                                        | #{product.instock}
                                    else
                                        span.text-danger Out of Stock
                                .btn-group.action-buttons
                                    a.btn.btn-cart(href="/products/cart/"+product._id) 
                                        i(class="fas fa-shopping-cart") Add to Cart
